.cart-icon-container {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .cart-icon {
    width: 24px;
    height: 24px;
  }
  .num-count {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 12px;
  }
}
